<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0MIHUji0XvX3Aim1QcxogDzgsRKt2_Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>594780493248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IERO.DRBS-HomeComing</string>
	<key>PROJECT_ID</key>
	<string>iero-drbs-homecoming</string>
	<key>STORAGE_BUCKET</key>
	<string>iero-drbs-homecoming.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594780493248:ios:73848b31b44e2bb7afe425</string>
</dict>
</plist>